/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'oct-common';  /* project id 459138 */
  src: url('//at.alicdn.com/t/font_459138_o37t8dxxghftuik9.eot');
  src: url('//at.alicdn.com/t/font_459138_o37t8dxxghftuik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_459138_o37t8dxxghftuik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_459138_o37t8dxxghftuik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_459138_o37t8dxxghftuik9.svg#oct-common') format('svg');
}
